html, body {
margin: 0;
height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.header {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.notification,  .post {
  justify-self: flex-end;
}


.sideboard {
  background-color: rgb(50, 147, 226);
  color: rgb(245, 245, 245);
  grid-row: 1 / 3;
}

.workspace {
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projectboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px repeat(3, 2fr);
  gap: 25px;
  padding: 25px
}

.projectboard > h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.project, .annoucement, .trending-profile {
  padding: 15px;
  background-color: #fff;
}

.annoucements {
  display: grid;
  gap: 15px;
}

.trending {
  display: grid;
  gap: 15px;
}
